store-dir=./.pnpm-store
node-linker=isolated
shamefully-hoist=false
link-workspace-packages=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
auto-install-peers=true
hoist-workspace-packages=true
network-concurrency=16
fetch-retries=3
fetch-timeout=60000
packages-max-concurrency=4
